@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* утилиты */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
}

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo span {
  color: #2196f3;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-nav {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    max-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-nav .menu-container {
  background-color: #fff;
  z-index: 2;
  text-align: center;
  font-size: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-nav .menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .main-nav .menu-container {
    display: none;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
}

@media screen and (min-width: 768px) {
  .main-nav .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav .menu-container {
    margin-left: 81px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item {
    margin-right: 50px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-nav .item:last-child {
    margin-right: 0;
  }
}

.site-nav,
.auth-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav,
  .auth-nav {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .site-nav,
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 85px;
  }
}

.site-nav .link {
  position: relative;
  display: inline-block;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
  cursor: pointer;
}

.auth-nav {
  margin-left: auto;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .auth-nav {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    margin-left: 305px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .item + .item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .auth-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.auth-nav .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #757575;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link-box:hover, .auth-nav .link-box:focus {
  color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .auth-nav .link-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.link.current {
  color: #2196f3;
}

.link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .link.current::after {
    bottom: 0;
  }
}

.icon-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail:hover, .icon-mail:focus {
  color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.icon-mobile {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobile:hover, .icon-mobile:focus {
  color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-button {
  color: #212121;
}

.menu-button:hover .icon-button,
.menu-button:focus .icon-button {
  fill: #2196f3;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/mobile-x1.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/mobile-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/mobile@2x.jpg");
  }
}

@media screen and (min-width: 489px) and (max-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/tablet-x1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/tablet-x1.jpg");
  }
}

@media screen and (min-width: 489px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 489px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 489px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 489px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/tablet@2x");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/tablet@2x");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/desktop-x1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/desktop-x1.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/desktop@2x");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/desktop@2x");
  }
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .container-hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 690px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  color: #2196f3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 35px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 100%;
    max-width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal-close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(-8px, 8px);
          transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
}

.modal-title {
  display: block;
  margin-bottom: 30px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.modal-input {
  display: block;
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-field:focus-within > .modal-input {
  border-color: #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 18px;
}

.modal-field:focus-within .modal-icon {
  fill: #2196f3;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:focus-within .modal-label,
.modal-input:not(:placeholder-shown) + .modal-label {
  color: #2196f3;
  -webkit-transform: translate(-25px, -42px);
          transform: translate(-25px, -42px);
}

.modal-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

textarea {
  display: block;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  color: #757575;
  outline: none;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-field:focus-within textarea {
  border-color: #2196f3;
}

.label-textarea {
  display: block;
  position: absolute;
  top: 12px;
  left: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:focus-within > .label-textarea,
.modal-textarea:not(:placeholder-shown) + .label-textarea {
  -webkit-transform: translateY(-33px);
          transform: translateY(-33px);
  color: #2196f3;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  color: #757575;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .checkbox-label {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.checkbox-input {
  position: absolute;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.checkbox-input:checked + .checkbox-icon {
  border-color: #2196f3;
  background: #2196f3;
  background-image: url("../images/vector2.svg");
  background-size: contain;
  background-origin: border-box;
}

@media screen and (max-width: 1199px) {
  .checkbox-policy {
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
  }
}

.policy {
  color: #2196f3;
}

.modal-button {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 29px;
  border: 0;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-button:hover, .modal-button:focus {
  color: #2196f3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section .section-text {
  margin-top: 0;
  margin-bottom: 30px;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.section .section-text:last-child {
  margin-bottom: 0;
}

.list.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .information .item-box {
    margin-bottom: 30px;
  }
  .information .item-box:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .information .item-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .information .item-box:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .information .item-box:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .information .item-box:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .information .item-box {
    width: calc((100% - 90px) / 4);
  }
}

.product-thumb {
  position: relative;
}

.list.exampls-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exampls .item {
  margin-right: 30px;
}

.exampls .item:last-child {
  margin-right: 0;
}

.exampls {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .exampls {
    display: none;
  }
}

.exampls-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.exampls-text {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 27px 0px 27px 0px;
  width: 370px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;
}

.team .team-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1199px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list.workers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list.workers .card-shadow {
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.link-social.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social.person:hover, .link-social.person:focus {
  fill: #ffffff;
}

.person-box {
  padding: 30px 0px 24px 0px;
  background-color: #fff;
}

.person-box .team-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.person-box .team-work {
  margin-top: 0;
  margin-bottom: 16px;
}

.team .item {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .team .item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .team .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .item:last-child {
    margin-right: 0;
  }
}

.list .social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-social:last-child {
  margin-right: 0;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients .clients-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .clients .item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .clients .item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .clients .item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .item:nth-child(3n + 1), .clients .item:nth-child(3n + 2) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1190px) {
  .clients .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .item {
    width: calc((100% - 5 * 30px) / 6);
  }
}

.company-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-logo:hover, .company-logo:focus {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

footer {
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  footer {
    text-align: center;
  }
}

.logo-footer {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.logo-footer > span {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-title {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .adress-down {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .adress-down .item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-down .item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-footer {
    margin-right: 69px;
  }
}

@media screen and (min-width: 1200px) {
  .box-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.box-footer .contacts .contacts-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts .contacts-link,
.contacts .tell-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts-link:hover, .contacts .contacts-link:focus,
.contacts .tell-link:hover,
.contacts .tell-link:focus {
  color: #2196f3;
}

.social.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .social.list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}

.social .item {
  margin-right: 10px;
}

.social .item:last-child {
  margin-right: 0px;
}

.link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover, .link-social:focus {
  background-color: #2196f3;
}

.footer-text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.button-text {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-input {
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    margin-right: 12px;
    width: 358px;
  }
}

.button-second {
  padding: 10px 29px;
  font-family: inherit;
  min-width: 200px;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .button-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button-second:hover, .button-second:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: #2196f3;
  background-color: #ffffff;
}

.air-icon {
  margin-left: 10px;
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-second:hover .air-icon,
.button-second:focus .air-icon {
  fill: #2196f3;
}

.main-page {
  border: 1px solid #ececec;
}

@media screen and (max-width: 1199px) {
  .main-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main-page {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list.filtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .list.filtr {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .list.filtr {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filtr .item {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filtr .item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filtr .item:last-child {
  margin-right: 0;
}

.main-page .btn-type {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page .btn-type:hover, .main-page .btn-type:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.product-card {
  position: relative;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-images {
  display: block;
  max-width: 100%;
  height: auto;
}

.list.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group-link {
  display: block;
  text-decoration: none;
}

.group.item:not(:last-child) {
  margin-bottom: 30px;
}

.group.item:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .group.item {
    width: calc((100% - 30px) / 2);
  }
  .group.item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .group.item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .group.item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .group.item:nth-child(3n) {
    margin-right: 0;
  }
  .group.item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.group-text {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.group.item:hover .group-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.group .group-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.group .group-text-short {
  margin-top: 4px;
  margin-bottom: 0;
  color: #757575;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */