/* основной цвет #212121*/
/* вспомогательный цвет #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* :root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* утилиты */

/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  display: block;
} */

/* логотип компании */

/* .logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo > span {
  color: var(--accent-color);
} */

/* Навигация */

/* .page-header,
.main-nav {
  display: flex;
  align-items: center;
}

.contacts {
  margin-left: auto;
}

.site-nav,
.auth-nav {
  display: inline-flex;
}

.site-nav.list {
  margin-left: 86px;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--accent-color);
} */

/* .icon-mobile:hover,
.icon-mobile:focus,
.icon-mail:hover,
.icon-mail:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link-box:hover,
.auth-nav .link-box:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  cursor: pointer;
} */

/* .icon-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mobile {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link-box {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .link.current {
  position: relative;
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 5px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
} */

/* hero */

/* .hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/header1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.container-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 690px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal-input {
  display: block;
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #757575;
  border-radius: 4px;
  outline: none;
}

.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 18px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.modal-field:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.modal-field:focus-within > .modal-label {
  color: var(--accent-color);
  transform: translate(-25px, -42px);
}

.modal-field:focus-within > .modal-input,
.modal-field:focus-within > textarea {
  border-color: var(--accent-color);
}

.modal-input:not(:placeholder-shown) + .modal-label {
  transform: translate(-25px, -42px);
}

.modal-field:focus-within > .label-textarea {
  transform: translateY(-33px);
  color: var(--accent-color);
}

.modal-textarea:not(:placeholder-shown) + .label-textarea {
  transform: translateY(-33px);
}

textarea {
  resize: none;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
}

.label-textarea {
  display: block;
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.checkbox-label {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
  color: #757575;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 8px;
  display: inline-block;
  width: 15px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 4px;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.checkbox-input:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background: var(--accent-color);
  background-image: url('../images/vector2.svg');
  background-size: contain;
  background-origin: border-box;
}

.policy {
  color: var(--accent-color);
}

.modal-button {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 29px;
  border: 0;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
} */

/* section  преимущества*/

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

.section .section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.section .section-text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.list.information {
  display: flex;
}

.icon-box {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information .item-box {
  margin-right: 30px;
  max-width: 270px;
}

.information .item-box:last-child {
  margin-right: 0;
}

/* чем мы занимаемся (карточки товара) */

/* .exampls .item {
  margin-right: 30px;
}

.exampls .item:last-child {
  margin-right: 0;
}

.list.exampls-box {
  display: flex;
}

.exampls {
  padding-top: 94px;
  padding-bottom: 94px;
}

.exampls-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.product-thumb {
  position: relative;
}

.exampls-text {
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 27px 0px 27px 0px;
  width: 370px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
} */

/* Наша команда (карточки работников) */

/* .list.workers {
  display: flex;
  text-align: center;
}

.link-social.person {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social.person:hover,
.link-social.person:focus {
  fill: #ffffff;
}

.person-box {
  padding: 30px 32px 24px;
}

.team .item {
  margin-right: 30px;
  overflow: hidden;
}

.team .item:last-child {
  margin-right: 0;
}

.list .social {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.card-shadow {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team .team-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team .team-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .team-work {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
} */

/* Наши клиенты */

/* .clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list.company {
  display: flex;
}

.clients .item {
  margin-right: 30px;
}

.clients .item:last-child {
  margin-right: 0;
}

.company-logo {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-logo:hover,
.company-logo:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
} */

/* футер */

/* footer {
  color: var(--primary-white-color);
  background-color: #2f303a;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 10px;
  color: var(--primary-white-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}
.link-social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: var(--accent-color);
}

.contacts .contacts-link,
.contacts .tell-link {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link.footer {
  margin-bottom: 9px;
}

.contacts-link:hover,
.contacts-link:focus,
.contacts .tell-link:hover,
.contacts .tell-link:focus {
  color: var(--accent-color);
}

.box-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 28px;
}

.contacts .contacts-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 9px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.social.list {
  display: flex;
}

.social .item {
  margin-right: 10px;
}
.social .item:last-child {
  margin-right: 0px;
}

.button-text {
  margin-bottom: 21px;
}

.logo-footer > span {
  color: var(--accent-color);
}

.footer-text {
  display: block;
  margin-bottom: 21px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.button-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 0px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  color: var(--primary-white-color);
}

.footer-flex {
  display: inline-flex;
}

.button-second {
  display: flex;
  font-family: inherit;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 29px;
  border: 0;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.button-second:hover,
.button-second:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
.button-second:hover .air-icon,
.button-second:focus .air-icon {
  fill: var(--accent-color);
}

.air-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/

/* Страничка портфолио!!!! */

/* Кнопки */

/* .list.filtr {
  display: flex;
  justify-content: center;
}

.filtr .item {
  margin-right: 8px;
}
.filtr .item:last-child {
  margin-right: 0;
}
.container.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-page {
  border-top: 94px;
  border: 1px solid #ececec;
}

.main-page .btn-type {
  text-align: center;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page .btn-type:hover,
.main-page .btn-type:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
} */

/* Карточки товаров */

/* .card-content {
  padding: 20px 23px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-images {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-card {
  position: relative;
  overflow: hidden;
}

.group-text {
  position: absolute;
  top: 0;

  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.list.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.group-link {
  display: block;
  text-decoration: none;
}

.group.item:hover .group-text {
  transform: translateY(0);
  opacity: 1;
}

.group.item {
  margin-right: 30px;
  margin-top: 50px;
}
.group.item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.group.item:nth-child(-n + 3) {
  margin-top: 0;
}

.group.item:nth-child(3n) {
  margin-right: 0;
}

.group .group-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.group .group-text-short {
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
} */
