// Секция Преимущества

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  border-bottom: 1px solid #ececec;

  & .section-title {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;

    justify-content: center;
    font-weight: $secondary-font-weight;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  & .section-text {
    margin-top: 0;
    margin-bottom: 30px;
    // margin-bottom: 0;

    color: $secondary-text-color;

    font-size: 14px;
    line-height: 1.71;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list.information {
  display: flex;
  flex-wrap: wrap;
}

.icon-box {
  display: flex;
  margin-bottom: 30px;

  height: 120px;
  width: 100%;

  background: #f5f4fa;

  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.information .item-box {
  // width: 100%;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }
  &:nth-child(2n + 1) {
    @media screen and (min-width: 768px) {
      margin-right: 30px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
  &:nth-child(-n + 2) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

//  чем мы занимаемся (карточки товара)

.product-thumb {
  position: relative;
}

.list.exampls-box {
  display: flex;
}

.exampls .item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.exampls {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: $secondary-font-weight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &-text {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 27px 0px 27px 0px;
    width: 370px;

    color: $primary-white-color;
    background: rgba(47, 48, 58, 0.8);

    font-weight: $secondary-font-weight;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}
