// Секция Преимущества

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  border-bottom: 1px solid #ececec;

  & .section-title {
    display: flex;
    margin-top: 0;
    margin-bottom: 10px;

    justify-content: center;
    font-weight: $secondary-font-weight;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  & .section-text {
    margin-top: 0;
    margin-bottom: 30px;
    // margin-bottom: 0;

    color: $secondary-text-color;

    font-size: 14px;
    line-height: 1.71;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list.information {
  // display: flex;
}

.icon-box {
  display: flex;
  margin-bottom: 30px;

  width: 450px;
  height: 120px;

  background: #f5f4fa;

  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.information .item-box {
  // margin-right: 30px;
  // max-width: 270px;

  &:last-child {
    // margin-right: 0;
  }
}

/* чем мы занимаемся (карточки товара) */

.product-thumb {
  position: relative;
}

.list.exampls-box {
  display: flex;
}

.exampls .item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.exampls {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: $secondary-font-weight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }

  &-text {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 27px 0px 27px 0px;
    width: 370px;

    color: $primary-white-color;
    background: rgba(47, 48, 58, 0.8);

    font-weight: $secondary-font-weight;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  }
}
