// Секция клиенты

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  & .clients-title {
    margin-top: 0;
    margin-bottom: 30px;
    // margin-bottom: 50px;

    font-weight: $secondary-font-weight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.list.company {
  display: flex;
  flex-wrap: wrap;

  // @media screen and (min-width: 480px) {
  //   display: flex;
  //   flex-wrap: wrap;
  // }
}

.clients .item:nth-child(2n + 1) {
  margin-right: 30px;
}

.clients .item:nth-child(-n + 4) {
  margin-bottom: 30px;
}

.clients .item {
  // margin-bottom: 30px;
  // margin-right: 30px;

  // @media screen and (min-width: 480px) {
  //   width: 50%;
  // }

  // @media screen and(min-width: 1200px) {
  //   width: 33.333%;
  // }

  &:last-child {
    // margin-right: 0;
  }
}

.company-logo {
  // display: flex;
  display: inline-flex;
  width: 210px;
  height: 90px;

  fill: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
  }
}
