// Блок герой

// Фон героя
.hero {
  margin-left: auto;
  margin-right: auto;

  // height: 600px;
  // max-width: 480px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/header1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

// Заголовок для героя

.container-hero {
  margin-left: auto;
  margin-right: auto;

  @media screen and(max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 360px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 690px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-white-color;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and(min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

// Правило для кнопки в блоке Герой

.hero-button {
  // display: inline-block;
  padding: 10px 32px;

  // min-width: 200px;

  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  text-decoration: none;
  font-weight: $secondary-font-weight;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
}
