// Логотип компании

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: $secondary-font-weight;
  font-size: 26px;
  line-height: 1.2;

  span {
    color: $accent-color;
  }
}

// Навигация в хедере

.page-header,
.main-nav {
  // display: flex;
  align-items: center;
}

.site-nav,
.auth-nav {
  // display: inline-flex;
}

.site-nav.list {
  // margin-left: 86px;
}

.site-nav .item {
  // margin-right: 50px;

  &:last-child {
    // margin-right: 0;
  }
}

.site-nav .link {
  // display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

// Правило для текущего подчеркивания

.link.current {
  position: relative;
  color: $accent-color;
}

.link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

  height: 5px;
  width: 100%;

  background-color: $accent-color;
  border-radius: 2px;
}

// Контакты в хедере

.contacts {
  // margin-left: auto;
}

.auth-nav .item + .item {
  // margin-left: 30px;
}

.auth-nav .link-box {
  // display: flex;

  color: $secondary-text-color;

  text-decoration: none;
  // justify-content: center;
  // align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    cursor: pointer;
  }
}

// Правило для иконки

.icon-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    cursor: pointer;
  }
}

.icon-mobile {
  width: 10px;
  height: 15px;
  margin-right: 10px;

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    cursor: pointer;
  }
}
