// Логотип компании

.logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: $secondary-font-weight;
  font-size: 24px;
  line-height: 1.2;

  @media screen and(min-width: 1200px) {
    font-size: 26px;
  }

  span {
    color: $accent-color;
  }
}

// Навигация в хедере

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    max-height: 80px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.main-nav .menu-container {
  background-color: #fff;
  z-index: 2;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav .item {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and(min-width: 768px) {
    margin-right: 50px;
    text-align: center;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav,
.auth-nav {
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    margin-left: 81px;
    font-size: 14px;
    line-height: 1.14;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 85px;
  }
}

.site-nav .link {
  position: relative;
  display: inline-block;

  color: $primary-text-color;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

// контакты в хедере

.auth-nav {
  margin-left: auto;

  @media screen and (min-width: 767px) and(max-width: 1199px) {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-left: 84px;
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    margin-left: 305px;
  }
}

.auth-nav .item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.auth-nav .item {
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
  }
  &:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
}

.auth-nav .link-box {
  display: flex;

  color: $secondary-text-color;

  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// Правило для текущего подчеркивания

.link.current {
  color: $accent-color;
}

.link.current::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  height: 4px;
  width: 100%;

  background-color: $accent-color;
  border-radius: 2px;

  @media screen and (min-width: 768px) {
    bottom: 0;
  }
}

// Правило для иконки

.icon-mail {
  width: 16px;
  height: 11px;
  margin-right: 10px;

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    cursor: pointer;
  }
}

.icon-mobile {
  width: 10px;
  height: 15px;
  margin-right: 10px;

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    cursor: pointer;
  }
}
// иконка кнопка меню-закрыть

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu-nav {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-button {
  color: #212121;

  .menu-button:hover &,
  .menu-button:focus & {
    fill: $accent-color;
  }
}
