//  Карточки товаров портфолио

.product-card {
  position: relative;
  overflow: hidden;
}

.card-content {
  // padding: 20px 19px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-images {
  display: block;
  max-width: 100%;
  height: auto;
}

.list.cards {
  // display: flex;
  flex-wrap: wrap;
  // margin-top: 50px;
}

.group-link {
  display: block;
  text-decoration: none;
}

.group.item {
  // margin-right: 30px;
  // margin-top: 50px;

  &:nth-child(-n + 3) {
    margin-top: 0;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.group-text {
  position: absolute;
  top: 0;

  margin: 0;
  // padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  color: $primary-white-color;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: $primary-font-weight;
  font-size: 18px;
  line-height: 1.56;

  .group.item:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}

.group .group-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
  font-weight: $secondary-font-weight;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.group .group-text-short {
  // margin-top: 4px;
  margin-bottom: 0;
  color: $secondary-text-color;
  font-weight: $secondary-font-weight;
  font-size: 16px;
  line-height: 1.87;
}
