// Наша команда (карточки работников)

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
  background: #f5f4fa;

  & .team-title {
    margin-top: 0;
    margin-bottom: 30px;
    // margin-bottom: 50px;

    font-weight: $secondary-font-weight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.list.workers {
  // display: flex;
  text-align: center;

  .card-shadow {
    border-radius: 4px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}

.link-social.person {
  display: flex;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $primary-white-color;
  }
}

.person-box {
  padding: 30px 0px 24px 0px;

  .team-name {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .team-work {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

.team .item {
  margin-bottom: 30px;
  // margin-right: 30px;
  overflow: hidden;

  // &:last-child {
  // margin-right: 0;
  // }
}

.list .social {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
}

.item-social {
  display: flex;
  align-items: center;
  margin-right: 10px;
  background-color: green;

  &:last-child {
    margin-right: 0;
  }
}
